<% title "Home" %>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <%= link_to "Edit", edit_home_path(@home) %> |
  <%= link_to "Destroy", @home, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", homes_path %>
</p>
